[Unit]
Description="OpenCast systemd service"
After=default.target rc-local.service

[Service]
Type=simple
KillMode=control-group
RemainAfterExit=true
TimeoutStartSec=infinity
TimeoutStopSec=infinity
ExecStart={ START_COMMAND }
ExecStop={ STOP_COMMAND }

[Install]
WantedBy=default.target
