[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
bottle = "*"
omxplayer-wrapper = "*"
youtube-dl = "*"
mock = "*"
pyyaml = "*"

[requires]
python_version = "3.5"
