[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
bottle = "*"
omxplayer-wrapper = "*"
youtube-dl = "*"
mock = "*"
pyyaml = "*"
"hurry.filesize" = "*"
psutil = "*"
dbus-python = "*"
ffmpeg-python = "*"
transitions = "*"
structlog = "*"
colorama = "*"
sphinx = "*"
