#content {
	width: 100%;
	max-width: 500px;
	margin-top: 10px;
	margin-left: auto;
  margin-right: auto;
	padding-left: 2px;
	padding-right: 2px;
}

#history-div {
	width: 100%;
	text-align: left;
	font-size: 1.2em;
}

#clear-history {
	font-style: bold;
	color: red;
}

#clear-search {
    position: absolute;
    right: 5px;
    top: 0;
    bottom: 0;
    height: 20px;
    margin: auto;
    font-size: 20px;
    cursor: pointer;
    z-index: 2;
    display: none
}

button {
	height: 70px;
}

.button-line {
	width: 100%;
	margin-top: 10px;
}

.button-large {
	width: 98%;
	margin-top: 10px;
}

.button-left {
	width: 48%;
	max-width: 250px;
	margin-right: 3px;
}

.button-right {
	width: 48%;
	max-width: 250px;
	margin-left: 3px;
}

.input-group {
	width: 98%;
	margin-top: 5px;
	margin-bottom: 10px;
}

.form-control {
	height: 70px !important;
}

span.glyphicon {
	font-size: 1.4em;
}

span.tb {
	top: -20px;
	font-size: 1.2em;
}
