<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="../view/main.css" />
</head>

<body>
  <div id="title-section">
    <div class="header-row">
      <img src="../icon/icon.svg" alt="OpenCast Icon" id="opencast-icon" />
      <h2>OpenCast</h2>
    </div>
    <div id="title-divider"></div>
  </div>

  <div id="main-content">
    <div class="option-entry">
      <h3>Quick Settings</h3>
      <div class="value-column">
        <img src="../icon/extern.png" id="extern-icon" class="icon" />
      </div>
    </div>

    <div class="option-entry">
      <div class="label-column">
        <label for="video-button">Video</label>
      </div>
      <div class="value-column">
        <div class="switch">
          <input type="checkbox" id="toggleSwitch" class="switch-input">
          <label for="toggleSwitch" class="switch-label"></label>
        </div>
      </div>
    </div>
    <div class="divider"></div>

    <button name="cast-button">Cast </button>
  </div>
  <script type="module" src="../js/main.js"></script>
</body>

</html>
