<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="../view/main.css" />
</head>

<body>
  <div id="main-content">
    <div class="option-entry">
      <div class="label-column">
        <label for="audio-button">Audio</label>
      </div>
      <div class="value-column">
        <button id="audio-button" name="audio">Audio</button>
      </div>
    </div>
    <div class="option-entry">
      <div class="label-column">
        <label for="video-button">Video</label>
      </div>
      <div class="value-column">
        <button id="video-button" name="video">Video</button>
      </div>
    </div>
    <button name="cast-button">Cast </button>
  </div>
  <script src="../js/main.js"></script>
</body>

</html>
