<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="../view/main.css" />
</head>

<body>
  <div id="main-content">
    <div class="option-entry">
      <div class="label-column">
        <label for="api-ip">api IP:</label>
      </div>
      <div class="value-column">
        <input type="text" id="api-ip">
      </div>
    </div>

    <div class="option-entry">
      <div class="label-column">
        <label for="webapp-ip">Webapp IP:</label>
      </div>
      <div class="value-column">
        <input type="text" id="webapp-ip">
      </div>
    </div>
  </div>
  <script type="module" src="../js/option.js"></script>
</body>

</html>
